<div class="contentBanners">
  <link rel="stylesheet" href="/view/content/banners/banners.css" />
  <div class="columns">
    <div>
      <h3 class="viewTitle">{{$title}}</h3>
      <div class="viewBody">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu velit commodo elit scelerisque varius. Etiam id dui porta, maximus ante sit amet, pharetra turpis. Donec tincidunt augue quis nisl scelerisque, et accumsan risus pulvinar. Donec luctus nisi magna, id facilisis orci interdum vel. Duis sed ante sit amet nisl accumsan dignissim. Nullam malesuada mattis turpis, a mollis augue ultricies eget. Vestibulum nec leo at sapien pretium pharetra. Nam porta dignissim pulvinar. Maecenas elementum eleifend nulla eget malesuada. Vestibulum malesuada at augue sit amet tincidunt. Aenean consequat nunc vitae nulla faucibus condimentum. Proin tincidunt nisl ac justo feugiat, et lobortis purus venenatis.</div>
    </div>
    <div>
      <h3 class="viewTitle">Lorem Ipsum</h3>
      <div class="viewBody">Cras egestas magna at justo dictum, quis ultricies risus dapibus. Etiam et sapien cursus, elementum neque vel, facilisis est. Ut blandit turpis nec lacus ornare ornare. Phasellus rhoncus neque vitae nibh consequat convallis. Duis rhoncus ut nibh vitae posuere. Phasellus sollicitudin pretium ante, sit amet congue nisl vehicula consequat. Sed fringilla tortor felis, et ultricies enim semper in. Donec nulla neque, efficitur a mauris eget, rhoncus laoreet turpis.</div>
    </div>
  </div>
</div>
