<ul class="head menu">
  <li>
    <a href="#" class="active">Content</a>
    <ul>
      <li><a href="/content/banners">Banners</a></li>
      <li><a href="/content/static">Static Blocks</a></li>
    </ul>
  </li>
  <li>
    <a href="#">System</a>
    <ul>
      <li>
        <a href="/system/user">Admin profile</a>
        <ul>
          <li><a href="#">Menu entry</a></li>
          <li><a href="#">Menu entry</a></li>
          <li><a href="#">Menu entry</a></li>
          <li><a href="#">Menu entry</a></li>
          <li><a href="#">Menu entry</a></li>
        </ul>
      </li>
      <li><a href="#">Middle Menu</a></li>
      <li><a href="#">Middle Menu</a></li>
      <li><a href="#">Middle Menu</a></li>
    </ul>
  </li>
  <li><a href="#">Top Menu</a></li>
</ul>